#computersRandomNumbertoMatch {
  border: 10px solid teal;
}

#redRuby {
  border: 10px solid red;
}

#blueRuby {
  border: 10px solid blue;
}

#yellowRuby {
  border: 10px solid yellow;
}

#greenRuby {
  border: 10px solid green;
}
